@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
.custom-alert {
  display: none; /* Hidden by default */
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure it is on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
.edit-button, .delete-button{
  height: 25px;
  border: none;
  background: none;
  cursor: pointer;
}
.edit-icon, .delete-icon, .save-icon{
  height: 100%;
}
.custom-alert-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 80%;
  max-height: 800px;
  max-width: 500px;
  background-color: var(--main-color);
  margin: 5% auto; /* 15% from the top and centered */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.custom-alert-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  margin-top: 20px;
  height: 100%;
  overflow-y: scroll;
}
.custom-alert-content::-webkit-scrollbar {
  display: none;
}
.alert-clover-img{
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
}
.close-btn{
  font-size: 2rem;
  top: 5px;
  right: 10px;
  position:  absolute;
  color: var(--primary-color-font);
  cursor: default; /* Change cursor to default */
  z-index: 5;
}
.top-section-alert{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  width: 140px;
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
}
.mid-section-alert{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  gap: 15px;
  margin-bottom: 50px;
}
.input-content-alert{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}
.input-todo-text-alert{
  min-height: calc(50px - 2px);
  border-radius: 10px;
  width: 100%;
  color: var(--primary-color-font);
  font-size: 15px;
  border: none;
  outline: none;
  flex: 1;
  transition: .7s;
  cursor: default;
}
.marking-as-important{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  background-color: white;
  border-radius: 5px;
}
.marking-as-important-text {
  margin-left: 10px;
  flex: 1;
  overflow-x: hidden;
  cursor: default;
  font-size: 1em;
  color: #888;
}
.important-symbol{
  font-size: 35px;
  font-weight: 700;
  color: red;
  text-align: center;
  width: 30px;
  cursor: default;
}
.important-symbol-input{
  font-size: 40px;
  font-weight: 700;
  color: red;
  text-align: center;
  width: 20px;
  cursor: default;
}
.bottom-section-alert{
  position: static;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  z-index: 4;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 -4px 10px -1px rgba(0, 0, 0, 0.3);
}
.edit-button-alert, .delete-button-alert{
  height: 30px;
}
  .checkbox-wrapper-9 .tgl {
    display: none;
  }
  .checkbox-wrapper-9 .tgl,
  .checkbox-wrapper-9 .tgl:after,
  .checkbox-wrapper-9 .tgl:before,
  .checkbox-wrapper-9 .tgl *,
  .checkbox-wrapper-9 .tgl *:after,
  .checkbox-wrapper-9 .tgl *:before,
  .checkbox-wrapper-9 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-9 .tgl::-moz-selection,
  .checkbox-wrapper-9 .tgl:after::-moz-selection,
  .checkbox-wrapper-9 .tgl:before::-moz-selection,
  .checkbox-wrapper-9 .tgl *::-moz-selection,
  .checkbox-wrapper-9 .tgl *:after::-moz-selection,
  .checkbox-wrapper-9 .tgl *:before::-moz-selection,
  .checkbox-wrapper-9 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-9 .tgl::selection,
  .checkbox-wrapper-9 .tgl:after::selection,
  .checkbox-wrapper-9 .tgl:before::selection,
  .checkbox-wrapper-9 .tgl *::selection,
  .checkbox-wrapper-9 .tgl *:after::selection,
  .checkbox-wrapper-9 .tgl *:before::selection,
  .checkbox-wrapper-9 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-9 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            margin-right: 10px;
  }
  .checkbox-wrapper-9 .tgl + .tgl-btn:after,
  .checkbox-wrapper-9 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .checkbox-wrapper-9 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-9 .tgl + .tgl-btn:before {
    display: none;
  }
  .checkbox-wrapper-9 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }

  .checkbox-wrapper-9 .tgl-flat + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    background: #fff;
    border: 4px solid #dadada;
    border-radius: 2em;
  }
  .checkbox-wrapper-9 .tgl-flat + .tgl-btn:after {
    transition: all 0.2s ease;
    background: #cecece;
    content: "";
    border-radius: 1em;
  }
  .checkbox-wrapper-9 .tgl-flat:checked + .tgl-btn {
    border: 4px solid #7FC6A6;
  }
  .checkbox-wrapper-9 .tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #7FC6A6;
  }
.reminder-container-button{
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}
.reminder-alert{
  color: #888;
  text-align: left;
  font-size: 1.1em;
  background-color: white;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-weight: 400;
}
.reminder-icon{
  position: absolute;
  height: 25px;
  right: 10px;
}
.reminder-container{
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.reminder-content{
  display: grid;
  grid-template-areas: 
  "item1 item6 item11"
  "item2 item7 item12"
  "item3 item8 item13"
  "item4 item9 item14"
  "item5 item10 item15";
  width: 100%;
  gap: 10px;
  margin: 10px;
}

.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }
.item8 { grid-area: item8; }
.item9 { grid-area: item9; }
.item10 { grid-area: item10; }
.item11 { grid-area: item11; }
.item12 { grid-area: item12; }
.item13 { grid-area: item13; }
.item14 { grid-area: item14; }
.item15 { grid-area: item15; }
.reminder-content-text{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  width: 100%;
  height: 30px;
}
.reminder-content-text input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 10px;
  min-height: 10px;
  border: 1px solid var(--primary-color-font);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.reminder-content-text input[type="checkbox"]:checked {
  background-color: var(--primary-color-font);
  border-color: var(--primary-color-font);
}
.reminder-content-text p {
  margin-left: 5px;
}
.about-alert h3 {
  color: var(--primary-color-font);
}
.text-area-container-alert{
  display: flex;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
}
.text-area-alert{
  color: var(--primary-color-font);
  display: flex;
  font-size: .8rem;
  line-height: 20px;
  width: 100%;
  border: none;
  resize: none;
  border-radius: 5px;
  text-align: left;
  background-color: var(--main-color);
  padding: 5px;
  background-color: #fff;
}
.text-area-alert::-webkit-scrollbar{
  display: none;
}
.input-todo-text-alert{
}